{% extends 'base.html' %}
{% block title %} Modification des notes {% endblock title %}

{% block content %}
<!--begin::App Main-->
<main class="app-main">
  <!--begin::App Content Header-->
  <div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-sm-6"><h3 class="mb-0">Dashboard</h3></div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Notes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modification des notes</li>
          </ol>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
       <form method="POST">
         {% csrf_token %}
         {{form}}
         <input type="submit" value="Enregistrer" />
       </form>
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->
</main>
  
{% endblock content %}